@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(216, 12%, 8%);
  color: hsl(0, 0%, 100%);
  display: grid;
  align-content: center;
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
}

section {
  background-color: hsl(213, 19%, 18%);
  padding: 3.25rem 4.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  max-width: 40rem;
  border-radius: 2.5rem;
}
.heading {
  font-size: 3.5rem;
}
.paragraph {
  color: hsl(216, 12%, 54%);
}

ul {
  list-style: none;
}
